
IV-L3A       7  0030168                            TRHS                                      3 EA   _______________  _______________
                NEB AERS ARCLP II BRTH ACTU LF     58-65050EEA
                22MM                                                                    5.0024                               15.0072


