$TIMESTAMP                    $COMPANY - $COMPANY_NAME.trim()	$FROM_LOCATION - $FROM_LOCATION_NAME.trim()                      Page      $PAGE_NUMBER
                                                         Delivery Ticket


Shipment	Requesting Location	Requisition Number
$SHIPMENT_NUMBER            $REQ_LOCATION                     $REQ_NUMBER                       $RQL_NAME
                                                                                   744 S WEBSTER AVE
                                                                                   5TH FLOOR
                                                                                   GREEN BAY    WI 54301
Destination: $REQ_LOCATION.trim()               CLINICAL DECISION UNIT CDU
Requester: $REQUESTER.trim()                 PROCUREMENT AND LOGISTICS
Requested By: $CREATED_BY.trim()


Pick Bin  Line  Item Description                  Manufacturer Information   Quantity To Pick Uom  Shipped
Putaway                                                                      Unit Cost                              Extended Cost
-------  ----  --------------------------------   -------------------------  ---------------- ---- ---------------  --------------

