$TIMESTAMP        $COMPANY - $COMPANY_NAME	$FROM_LOCATION - $FROM_LOCATION_NAME  Page     $PAGE_NUMBER
                                                         Delivery Ticket

Document       Shipment     Batch    Delivery Date   Requesting Location
 $REQ_NUMBER     $SHIPMENT_NUMBER  $BATCH_NBR    $EST_DEL_DATE        $REQ_LOCATION                  $RQL_NAME
                                                                            $RQL_ADDR_1
Destination: $DESTINATION  $RQL_NAME                #if($RQL_ADDR_2.trim().length() > 0)$RQL_ADDR_2#{else}$RQL_CITY   $RQL_STATE $RQL_POSTAL_CODE#end
Requester: $REQUESTER         $REQUESTER_NAME                #if($RQL_ADDR_2.trim().length() > 0)$RQL_CITY   $RQL_STATE $RQL_POSTAL_CODE#end
Requested By: $CREATED_BY


Pick Bin  Line  Item Description                  Manufacturer Information   Quantity To Pick Uom  Shipped          Putaway Bin

-------  ----  --------------------------------   -------------------------  ---------------- ---- ---------------  --------------

